}
}
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#map {height: 300px;background-color: #f5f5f5;width: 100%;/* border: solid 1px; */margin-top: 15px;}
#contact .col-sm-8 {
    padding-right: 0;
}

 /* body */


.container {
    width: 100%;
}

.logo img {
    width: 35px;
}

.logo {
    top: 9px;
    width: 20px;
    margin-left: -12px;
    left: 50%;
    position: absolute;
    margin-top: 0px;
}

.logotext {
    top: 0;
    position: absolute;
    color: #302f2f;
    left: 50px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    display: none;
}

body {
    font-family: 'texgyrescholaregular', serif;
    color: black;
    background-color: #ebeae4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

body>section {
    clear: both;
    padding: 0px 0;
    background-color: transparent;
    /* border-top: solid 1px transparent; */
}

.border-top {
    width: 100%;
    height: 10px;
    position: fixed;
    background-color: black;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.border-bottom {
    width: 100%;
    height: 10px;
    position: fixed;
    background-color: black;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

.border-left {
    width: 10px;
    height: 100%;
    position: fixed;
    background-color: black;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.border-right {
    width: 10px;
    height: 100%;
    position: fixed;
    background-color: black;
    top: 0px;
    right: 0px;
    z-index: 10;
}

 /* navigation */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    float: right;
}

.nav-left {
    float: left;
    position: absolute;
    left: 0;
    margin-left: -5px;
}

.nav-right {
    float: right;
    right: 0;
}

.nav > li {
    position: relative;
    display: block;
    float: left;
}

li {
    display: block;
}

.navbar-default {
    box-shadow: none;
    border: none;
    min-height: 60px;
    padding-top: 31px;
    transition: 1s all ease;
    background-color: black;
    z-index: 12;
}

.nav>li>a {
    color: #ffffff;
    font-size: 18px;
    font-family: 'texgyrescholaregular', serif;
    position: relative;
    display: block;
    background-color: transparent;
    float: right;
    padding: 0 0 0 20px;
    /* text-transform: uppercase; */
    /* margin-right: 10px; */
}

.nav>li>a:hover {
    color: white;
    font-family: 'texgyrescholaregular', serif;
    position: relative;
    display: block;
    background-color: transparent;
    transition: 0.5s;
}

.nav {
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;

}

.nav li.active > a {
    color: white;
    font-family: 'texgyrescholaitalic';
}

.effect {
    background-color: black;
    /* max-height: 60px; */
    /* border-bottom: solid 1px #302f2f; */
    top: -27px;
}

.effect .logo img {
    display: none;
}

.effect .logotext {
    top: 27px;
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    display: block;
    width: 200px;
    margin-left: -97px;
    left: 50%;
}

 /* carousel */

section#carousel {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.carousel-control {
    position: absolute;
    /* top: 50%; */
    /* bottom: 50%; */
    left: 0;
    width: 5%;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: none;
    opacity: 100;
    z-index: 8;
}

.carousel-control:hover,
.carousel-control:focus {
    color: white;
    text-decoration: none;
}

ol.carousel-indicators {
    display: none;
}

.carousel-inner {
  width: 100%;
  overflow: hidden;
   background-image: url(../img/bg4.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.carousel-inner > .item {
  -webkit-transition: 1.5s all ease ;
          transition: 1.5s all ease ;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {
    background-color:transparent;
   /*   background-color:#d6d6d6;
  background-color: #CDDBD0;*/
    background-repeat: no-repeat;
}

.item:nth-child(2) {
    background-color:transparent;
    /*   background-color:#d6d6d6;
   background-color: #A1CAD6;*/
    background-repeat: no-repeat;
}

.item:nth-child(3) {
    background-color:transparent;
     /*  background-color:#d6d6d6;
   background-color: #E4E2DB;*/
    background-repeat: no-repeat;
}

.item:nth-child(4) {
    background-color:transparent;
    /*   background-color:#d6d6d6;
  background-color: #F8C4BD;*/
    background-repeat: no-repeat;
}

 /* about */

#about .row {
    margin-top: 80px;
}

section#about {
    padding-bottom: 60px;
    /* background-color: #a9a9a9; */
}

.notes {
    margin-top: 50px;
    font-family: 'texgyrescholaitalic';
    font-size: 18px;
    line-height: 18px;
}

.notes-right {
    margin-top: 50px;
    font-family: 'texgyrescholaitalic';
    font-size: 18px;
    line-height: 18px;
    /* width: 100%; */
}

.left-circle {
    width: 100%;
    padding-top: 100%;
    /* background-color: #ffffff; */
    border-radius: 50%;
    border: solid 1px #302f2f;
    -moz-border-radius: 50%;
    position: relative;
    float: left;
}

.left-circle div {
    float: left;
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.middle-circle {width: 100%;padding-bottom: 100%;background-color: #ffffff;border-radius: 50%;border: solid 1px white;-moz-border-radius: 50%;-webkit- border-radius: 50%;position: relative;}

.middle-circle div {
    float: left;
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.right-circle {
    width: 100%;
    padding-top: 100%;
    /* background-color: #ffffff; */
    border-radius: 50%;
    border: solid 1px #302f2f;
    -moz-border-radius: 50%;
    position: relative;
}

.right-circle div {
    float: left;
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* services */

#services .carousel-inner {
    width: 100%;
    overflow: hidden;
    opacity: 1;
    /*  background-image: url(../img/bg2.png);*/
    background-image: none;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

#services .item:nth-child(1) {
    background-image: url(../img/prod18.jpg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
    background-size: cover !important;
    width: 50%;
}

.color1 {
    width: 100%;
    height: 800px;
    background-color: black;
    mix-blend-mode: screen;
}

#services .item:nth-child(2) {
    background-image: url(../img/prod5.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
    background-size: cover !important;
    margin-left: 50%;
    width: 50%;
}

#services .item:nth-child(3) {
    background-image: url(../img/prod1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
    background-size: cover !important;
    width: 50%;
}

#services .item:nth-child(4) {
    background-image: url(../img/prod12.jpg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
    background-size: cover !important;
    margin-left: 50%;
    width: 50%;
}

#services .content-left {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 100%;
    width: 100%;
}

#services .content-right {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -100%;
    float: left;
    width:100%;
}


section#services {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#services .carousel-control {
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 5%;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: none;
    opacity: 100;
    z-index: 8;
}

#services .carousel-control:hover,
#services .carousel-control:focus {
    color: white;
    text-decoration: none;
}

#services .carousel, #services .carousel-inner, #services .carousel-inner .item {
    height: 800px;
}

/* footer */

footer {margin-top: 30px;padding-top: 10px;/* border-top: solid 1px #302f2f; */}

footer p {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

footer h2 {
    font-family: arial;
    font-size: 20px;
}

.img-responsive {
    text-align:center;
    display: initial;
    width: 100%;
    margin-top: 20px;
    mix-blend-mode: luminosity;
}

/* typography */


.left-circle div h2 {
    font-size: 30px;
    color: black;
}
.middle-circle div h2 {
    font-size: 30px;
    color: black;
}
.right-circle div h2 {
    font-size: 30px;
    color: black;
}

#carousel h2 {
    font-family: 'texgyrescholaregular', serif;
    font-size: 30px;
    color: black;
    /* text-transform: uppercase; */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#services h2 {
    font-size: 60px;
    line-height: 60px;
    color: white;
}

#services h4 {
    font-size: 18px;
    color: #ffffff;
    padding: 0 20%;
}

#carousel h5 {
    font-family: 'texgyrescholaregular', serif;
    font-size: 60px;
    /* line-height: 112px; */
    color: black;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h1 {
    background-color: #ffffff;
    color: black;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    text-align:center;
    border: 1px solid black;
}

h2 {
    font-size: 30px;
    margin-top: 0;
}

h3, .h3 {
    font-size: 30px;
    border-bottom: solid 1px;
}

h5 {
    font-size: 60px;
}

h6, .h6 {
    font-size: 18px;
}

h4 {
    font-size: 18px
}

button h4 {
    text-align: right;
}


#whoweare .content {
    padding: 0 15px;
}

#contact .content {
    padding: 0 15px;
}


.collection-image {
}

section#contact {
}

.project-item .first-project {
  /*   border-top: solid 1px; */
    padding-top: 5px;
    width: 122%;
    margin-top: 0px;
}


/* Components */

.col-md-12 {
    width: 100%;
    padding: 0;
}

.col-sm-10 {
    text-align: center;
}

.col-sm-7 {
    text-align: left;
}

.col-sm-4 {
    text-align: left;
}

.col-sm-1 {
    text-align: left;   
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) and (max-width: 768px){
    
  .carousel-inner {  
   background-image: url(../img/bg4.png);
    background-repeat: no-repeat; 
    background-position: bottom right;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
        }

@media only screen and (max-width: 480px){
    
  .carousel-inner {  
   background-image: url(../img/bg4.png);
    background-repeat: no-repeat; 
    background-position: bottom right;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
        }


@media(max-width: 767px){

    .container {
        width: 100%;
    }

.effect {
    background-color: black;
    /* max-height: 60px; */
    /* border-bottom: solid 1px #302f2f; */
    top: 0px;
}

.effect .logo img {
    display: block;
}

.effect .logotext {
    top: 27px;
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    display: none;
    width: 200px;
    margin-left: -99px;
    left: 50%;
}

.logo img {
    width: 27px;
}

.logo {
    top: 9px;
    width: 20px;
    margin-left: -15px;
    left: 50%;
    position: absolute;
    margin-top: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    float: none;
}

.nav-right {
    position:absolute;
    padding-right:20px;
    text-align: right;
    margin-right: -5px;
}

.nav-left {
    position:absolute;
    text-align: left;
    margin-left: -5px;
}


.nav > li {
    position: none;
    display: block;
    float: none;
}

    .navbar-default .navbar-collapse {
    border: none;
    width: 100%;
    padding: 0;
    margin:0;
    text-align:center;
    margin-left:-20px;
    display: block;
    margin-top: -14px;
    }


.navbar-default {
    padding-top: 20px;
}


.nav li.active > a {
    color: white;
    font-family: 'texgyrescholaitalic';
}

.nav>li>a {
    color: #ffffff;
    font-family: 'texgyrescholaregular', serif;
    display: inline-block;
    float: none;
    vertical-align: top;
    margin:0;
    /* padding:0; */
}

.nav>li>a:hover {
    color: white;
    position: relative;
    display: block;
    background-color: transparent;
    transition: 0.5s;
}

    .navbar-collapse.in 
    .collapsing{
        background-color: white;
    }

    .navbar-default .navbar-toggle:hover {
    background: transparent;
    border: solid 1px black;
    }

    .navbar-default .navbar-toggle:focus {
    background: transparent;
    border: solid 1px black;
    }

    .navbar-default .navbar-toggle {
    background: transparent;
    border: solid 1px black;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background: transparent;
        border: solid 1px black;
    }

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: -5px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid black;
    border-radius: 0px;
    display:none;
}

  .img-responsive {
    text-align:center;
    width: 100%;
}

#whoweare .content {
    padding: 0 15px;
}

    section#project h3 {
        text-align:center;
    }

#services .carousel-control {
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 15%;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: none;
    opacity: 100;
    z-index: 8;
}

#services .content-left {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 200%;
    margin-left:0%;
}

#services .content-right {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:200%;
}

.carousel-control {
    position: absolute;
    /* top: 50%; */
    /* bottom: 50%; */
    width: 15%;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: none;
    opacity: 100;
    z-index: 8;
}


button h4 {
    text-align: center;
}

.col-sm-1 {
    text-align: center;   
}

.left-circle {
    width: 100%;
    border: solid 1px #302f2f;
    -moz-border-radius: 50%;
    position: relative;
    margin-top: 0;
    float: left;
    z-index: 8;
}

.left-circle div {
    float: left;
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.middle-circle {
    width: 100%;
    background-color: white;
    -webkit- border-radius: 50%;
    /* text-align: center; */
    position: relative;
    margin-top: 100%;
}

.middle-circle div {
    float: left;
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.right-circle {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    border: solid 1px #302f2f;
    margin-top: 0;
    position: relative;
    z-index: 1;
}

.right-circle div {
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    /* transform: translateY(-50%); */
}


.left-circle div h2 {
    font-size: 60px;
    color: black;
}
.middle-circle div h2 {
    font-size: 60px;
    color: black;
}
.right-circle div h2 {
    font-size: 60px;
    color: black;
}

.notes {
    float: left;
    font-family: 'texgyrescholaitalic';
    font-size: 15px;
    line-height: 15px;
    width: 100%;
}

.notes-right {
    font-family: 'texgyrescholaitalic';
    font-size: 15px;
    line-height: 15px;
}

#carousel h2 {
    font-family: 'texgyrescholaregular', serif;
    font-size: 18px;
    color: black;
    /* text-transform: uppercase; */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#carousel h5 {
    font-family: 'texgyrescholaregular', serif;
    /* font-size: 200px; */
    /* line-height: 160px; */
    color: black;
    position: relative;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


#services h2 {
    font-size: 60px;
    line-height: 60px;
    color: white;
}

#services h4 {
    font-size: 18px;
    color: white;
    padding: 0 20%;
}

h1 {
    background-color: #ffffff;
    color: black;
    font-size: 30px;
    margin-bottom: 0;
    text-align:center;
    border: 1px solid black;
}

}





/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media(max-width: 1200px){

section#slider {
    min-height: 400px;
    padding: 100px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}